name: {{package_name}}
version: {{version}}
description: >
  API client library for {{discovery_name}} for use with Streamy RPC framework.
authors:
- Streamy
homepage: {{homepage}}
environment:
  sdk: '>=1.0.0'
dependencies:
  browser: any
  args: ">=0.9.0"
  meta: ">=0.8.8"
  fixnum: ">=0.9.0"
  json: ">=0.9.0"
  observe: ">=0.9.1"
  streamy: {{streamy_version}}
  quiver: ">=0.14.0"
