
/// An EntityGlobalFn for {{name}} entities.
typedef dynamic {{name}}GlobalFn({{name}} entity);

{{#docs}}/// {{.}}
{{/docs}}
class {{name}} extends streamy.EntityWrapper {
  static final Map<String, streamy.GlobalRegistration> _globals = <String, streamy.GlobalRegistration>{};

  static final Set<String> KNOWN_PROPERTIES = new Set<String>.from([
{{#properties}}    r'{{name}}',
{{/properties}}  ]);
{{#hasKind}}  static final String KIND = """{{kind}}""";{{/hasKind}}

  String get apiType => r'{{name}}';

  /// Add a global computed synthetic property to this entity type, optionally memoized.
  static void addGlobal(String name, {{name}}GlobalFn computeFn,
      {bool memoize: false, List dependencies: null}) {
    if (memoize) {
      if (dependencies != null) {
        throw new ArgumentError('Memoized function should not have dependencies.');
      }
      _globals[name] = new streamy.GlobalRegistration(streamy.memoizeGlobalFn(computeFn));
    } else {
      _globals[name] = new streamy.GlobalRegistration(computeFn, dependencies);
    }
  }

  {{name}}() : super.wrap(new streamy.RawEntity(), (cloned) => new {{name}}._wrap(cloned), globals: _globals);
  {{name}}.fromMap(Map map) : super.wrap(new streamy.RawEntity.fromMap(map), (cloned) => new {{name}}._wrap(cloned), globals: _globals);
  {{name}}.wrapMap(obs.ObservableMap map) : super.wrap(new streamy.RawEntity.wrapMap(map), (cloned) => new {{name}}._wrap(cloned), globals: _globals);

  {{name}}._wrap(streamy.Entity entity) : super.wrap(entity, (cloned) => new {{name}}._wrap(cloned), globals: _globals);

  {{name}}.wrap(streamy.Entity entity, streamy.EntityWrapperCloneFn cloneWrapper) :
      super.wrap(entity, (cloned) => cloneWrapper(cloned), globals: _globals);

{{#properties}}
{{#docs}}  /// {{.}}
{{/docs}}
  {{type}} get {{identifier_name}} => this[r'{{name}}'];
  set {{identifier_name}}({{type}} value) {
{{#list}}
    if (value is! obs.ObservableList) {
      value = new obs.ObservableList.from(value);
    }
{{/list}}
    this[r'{{name}}'] = value;
  }
  {{type}} remove{{capName}}() => this.remove(r'{{name}}');
{{/properties}}

  factory {{name}}.fromJsonString(String strJson, streamy.Trace trace,
      {streamy.TypeRegistry typeRegistry: streamy.EMPTY_REGISTRY}) =>
          new {{name}}.fromJson(streamy.jsonParse(strJson), typeRegistry: typeRegistry);

  static {{name}} entityFactory(Map json, streamy.TypeRegistry reg) =>
      new {{name}}.fromJson(json, typeRegistry: reg);

  factory {{name}}.fromJson(Map json,
      {streamy.TypeRegistry typeRegistry: streamy.EMPTY_REGISTRY, bool copy: false}) {
    if (json == null) {
      return null;
    }
    if (copy) {
      json = new obs.ObservableMap.from(json);
    }
    var list;
    var len;
    var result = new {{name}}.wrapMap(json);
    var fields = result.fieldNames.toList();
{{#properties}}
{{#list}}
    list = result[r'{{name}}'];
    if (list != null) {
{{#mustSerialize}}
      len = list.length;
      for (var i = 0; i < len; i++) {
        list[i] = new {{listType}}.fromJson(list[i]);
      }
{{/mustSerialize}}
{{^mustSerialize}}
{{#hasParseExpr}}
      list = result[r'{{name}}'];
      len = list.length;
      for (var i = 0; i < len; i++) {
        list[i] = {{parseExpr}}(list[i]);
      }
{{/hasParseExpr}}
{{/mustSerialize}}
    }
{{/list}}
{{^list}}
{{#mustSerialize}}
    result.{{identifier_name}} = new {{type}}.fromJson(result[r'{{name}}']);
{{/mustSerialize}}
{{^mustSerialize}}
    {{#hasParseExpr}}result.{{identifier_name}} = (result[r'{{name}}'] != null) ? {{parseExpr}}(result[r'{{name}}']) : null;{{/hasParseExpr}}
{{/mustSerialize}}
{{/list}}
    fields.remove(r'{{name}}');
{{/properties}};
    for (var i = 0; i < fields.length; i++) {
      result[fields[i]] = streamy.deserialize(result[fields[i]], typeRegistry);
    }
    return result;
  }

  Map toJson() {
    Map map = super.toJson();
{{#properties}}
{{#hasParseExpr}}
    if (map.containsKey(r'{{name}}')) {
      map[r'{{name}}'] = {{#list}}streamy.nullSafeMapToList(map[r'{{name}}'], (o) => o.toString()){{/list}}{{^list}}map[r'{{name}}'].toString(){{/list}};
    }
{{/hasParseExpr}}
{{/properties}};
    return map;
  }

  {{name}} clone() => new {{name}}._wrap(super.clone());

  Type get streamyType => {{name}};
}
