
class {{capName}}Resource {

  final {{topLevelClassName}} _root;

  static final List<String> KNOWN_METHODS = [
{{#methods}}    '{{name}}',
{{/methods}}  ];

  {{capName}}Resource(this._root);

{{#methods}}
  {{reqType}} {{name}}({{#payload}}{{payloadType}} payload{{/payload}}) {
    return new {{reqType}}(_root{{#payload}}, payload{{/payload}});
  }
{{/methods}}
}
