
class {{capName}}Resource {

  final {{topLevelClassName}} _root;

  static final List<String> KNOWN_METHODS = [
{{#methods}}    '{{name}}',
{{/methods}}  ];

  {{capName}}Resource(this._root);

{{#methods}}
{{#docs}}  /// {{.}}
{{/docs}}
  {{reqType}} {{name}}({{#payload}}{{payloadType}} payload{{/payload}}{{^payload}}{{#pathParameters}}{{argType}} {{name}}{{^last}}, {{/last}}{{/pathParameters}}{{/payload}}{{#hasQueryParameters}}{{#hasPathParametersOrPayload}},{{/hasPathParametersOrPayload}}
      { {{#queryParameters}}{{argType}} {{name}}{{^last}}, {{/last}}{{/queryParameters}} } {{/hasQueryParameters}}) {
    var request = new {{reqType}}(_root{{#payload}}, payload{{/payload}});{{#hasQueryParameters}}{{#queryParameters}}
    if ({{name}} != null) {
      {{^repeated}}request.{{name}} = {{name}};{{/repeated}}
      {{#repeated}}request.{{name}}.addAll({{name}});{{/repeated}}
    }
{{/queryParameters}}{{/hasQueryParameters}}{{^payload}}{{#pathParameters}}
    if ({{name}} != null) {
      {{^repeated}}request.{{name}} = {{name}};{{/repeated}}
      {{#repeated}}request.{{name}}.addAll({{name}});{{/repeated}}
    }
{{/pathParameters}}{{/payload}}
    return request;
  }
{{/methods}}
}
