
abstract class {{topLevelClassName}}ResourcesMixin {
{{#resources}}
  res.{{type}} _{{name}};
  res.{{type}} get {{name}} {
    if (_{{name}} == null) {
      _{{name}} = new res.{{type}}(this as streamy.Root);
    }
    return _{{name}};
  }
{{/resources}}
}

{{#docs}}/// {{.}}
{{/docs}}
class {{topLevelClassName}}
    extends streamy.Root
    with {{topLevelClassName}}ResourcesMixin {

  static final API_TYPE = r'{{discoveryName}}';
  String get apiType => API_TYPE;
  final streamy.TransactionStrategy _txStrategy;
  final streamy.RequestHandler requestHandler;
  final streamy.Tracer _tracer;

  {{topLevelClassName}}(
      this.requestHandler,
      {String servicePath: '{{servicePath}}',
      streamy.TypeRegistry typeRegistry: streamy.EMPTY_REGISTRY,
      streamy.TransactionStrategy txStrategy: null,
      streamy.Tracer tracer: const streamy.NoopTracer()}) :
          super(typeRegistry, servicePath),
          this._txStrategy = txStrategy,
          this._tracer = tracer;

  Stream send(streamy.Request request) =>
      requestHandler.handle(request, _tracer.trace(request));

  {{topLevelClassName}}Transaction beginTransaction() =>
      new {{topLevelClassName}}Transaction(typeRegistry, servicePath,
          _txStrategy.beginTransaction());
}

/// Provides the same API as [{{topLevelClassName}}] but runs all requests as
/// part of the same transaction.
class {{topLevelClassName}}Transaction
    extends streamy.TransactionRoot
    with {{topLevelClassName}}ResourcesMixin {

  static final API_TYPE = r'{{discoveryName}}Transaction';
  String get apiType => API_TYPE;

  {{topLevelClassName}}Transaction(
      streamy.TypeRegistry typeRegistry,
      String servicePath,
      streamy.Transaction tx) : super(typeRegistry, servicePath, tx);
}
