: super{{superConstructor}}(
    root,
    '{{httpMethod}}',
    r'{{pathFormat}}',
    API_TYPE,
    const[
      {{#pathParameters}}r'{{name}}',{{/pathParameters}}
    ],
    const[
      {{#queryParameters}}r'{{name}}',{{/queryParameters}}
    ]
    {{#hasPayload}}, payload{{/hasPayload}}){{#hasListParams}} {
  parameters{{#listParams}}
    ..[r'{{name}}'] = <{{type}}>[]{{/listParams}};
}{{/hasListParams}}{{^hasListParams}};{{/hasListParams}}
