class JsonDeserializer {

{{#types}}
  {{name}} deserialize{{name}}(Map json) {
    var res = new {{name}}.wrapMap(json);
  {{#deserialize}}
    res[r'{{field}}'] = {{fn}}(json[r'{{field}}']);
  {{/deserialize}}
  }
{{/types}

{{#variants}}
  dynamic deserializeVariantFor{{name}}_{{field}}(Map json) {
    if (json == null || json[r'{{discriminant}}'] == null) {
      return null;
    }
    switch (json[r'{{discriminant}}']) {
  {{#cases}}
      case r'{{case}}':
        return {{fn}}(json);
      default:
        // Unknown.
        return json;
  {{/cases}}
    }
  }
{{/variants}}
}